.description {
    font-family: 'AssistantR', sans-serif;
    text-align: center;
    direction: rtl;
    font-size: 1.4rem;
    color: #5a5a5a;
    width: 75%;
    margin: 2% auto;
}

.title {
    font-family: "Assistant";
    text-align: center;
    direction: rtl;
    font-size: 2.5rem;
    margin: 2% auto;
    text-align: center;
}

/* מתחת ל-350px */
@media (max-width: 349px) {
    .description {
        font-size: 1rem;
        width: 90%;
        margin: 3% auto;
    }
    
    .title {
        font-size: 1.5rem;
        margin: 3% auto;
    }
}

/* 350-450px */
@media (min-width: 350px) and (max-width: 450px) {
    .description {
        font-size: 1.1rem;
        width: 85%;
        margin: 2.5% auto;
    }
    
    .title {
        font-size: 1.7rem;
        margin: 2.5% auto;
    }
}

/* 450-550px */
@media (min-width: 450px) and (max-width: 550px) {
    .description {
        font-size: 1.2rem;
        width: 80%;
        margin: 2.5% auto;
    }
    
    .title {
        font-size: 1.9rem;
        margin: 2.5% auto;
    }
}

/* 550-650px */
@media (min-width: 550px) and (max-width: 650px) {
    .description {
        font-size: 1.3rem;
        width: 78%;
        margin: 2.2% auto;
    }
    
    .title {
        font-size: 2.1rem;
        margin: 2.2% auto;
    }
}

/* 650-750px */
@media (min-width: 650px) and (max-width: 750px) {
    .description {
        font-size: 1.35rem;
        width: 76%;
        margin: 2.1% auto;
    }
    
    .title {
        font-size: 2.3rem;
        margin: 2.1% auto;
    }
}

